body {
    margin: 0px;
    padding: 0px;
    background: url("../img/bg.png");
}

.main {
    width: 1000px;
    margin: auto;
    padding: 18px 0 18px 0;
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid black;
    padding: 2px 5px 2px 5px;
}

.title {
    text-align: center;
    margin-top: 5%;
}